{% extends 'bootstrap.html.twig' %}

{% block title %}RestaurantOrder{% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Order Detail</h3>

                        <a href="{{ path('shop_order_index', {'shop': shop.id}) }}"
                           class="btn bg-navy pull-right">Back</a>

                    </div>
                    <div class="box-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ shop_order.id }}</td>
                            </tr>
                            <tr>
                                <th>Shop</th>
                                <td>{{ shop_order.shop.shopName }}</td>
                            </tr>
                            <tr>
                                <th>OrderNumber</th>
                                <td>{{ shop_order.orderNumber }}</td>
                            </tr>
                            <tr>
                                <th>DateOfOrder</th>
                                <td>{{ shop_order.dateOfOrder ? shop_order.dateOfOrder|date('Y-m-d') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Delivery Address</th>
                                <td>{{ shop_order.deliveryAddress }}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>{{ shop_order.total }}</td>
                            </tr>
                            <tr>
                                <th>Discount</th>
                                <td>{{ shop_order.discount }}</td>
                            </tr>
                            <tr>
                                <th>GrandTotal</th>
                                <td>{{ shop_order.grandTotal }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="button-down">
                            <a href="{{ path('shop_order_edit', {'shopOrder': shop_order.id, 'shop': shop.id}) }}" class="btn btn-warning">Edit</a>

                            <span class="pull-right">{{ include('shop_order/_delete_form.html.twig') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
